body {
    margin: 0px;
}

* {
    font-family: Roboto, sans-serif;
}

.nav-button {
    color: #fff !important;
}

.nav-label {
    color: #fff;
}

.nav-right-container {
    display: flex;
    align-items: center;
}
